{% extends "base.html" %}

{% block title %}
<title>Add Recipe - Good-Meal</title>
{% endblock title %}

{% block content %}
<div class="container">
    <br>
    <form method="POST">
        {% csrf_token %}
        <div class="row">
            <label class="col-lg-2 col-form-label">Recipe Name</label>
            <div class="col-lg-10">
                {{ form.recipe }}
            </div>
        </div>
        <br>
        <div class="row">
            <label class="col-lg-2 col-form-label">Composites</label>
            <div class="col-lg-10">
                {{ form.composites }}
            </div>
        </div>
        <br>
        <div class="row">
            <label class="col-lg-2 col-form-label">Instructions</label>
            <div class="col-lg-10">
                {{ form.instructions }}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-10">
                <button type="submit" class="btn btn-primary">Add Recipe</button>
            </div>
        </div>
    </form>
</div>
{% endblock content %}
