{% extends 'base.html' %}

{% load static %}

{% block content %}
<style>
body {
    background-image: url("{% static 'images/add_recipe.jpg' %}");
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    background-color: rgba(255, 255, 255, 0.8); /* Slightly transparent background for the form area */
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    margin: 50px auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

h1 {
    text-align: center;
    color: #333;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
</style>

<div class="container">
    <h1>Add Recipe</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row mb-3">
            <label class="col-lg-2 col-form-label">Recipe Name</label>
            <div class="col-lg-10">
                {{ form.recipe }}
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-lg-2 col-form-label">Ingredients</label>
            <div class="col-lg-10">
                {{ form.composites }}
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-lg-2 col-form-label">Instructions</label>
            <div class="col-lg-10">
                {{ form.instructions }}
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-lg-2 col-form-label">Recipe Image</label>
            <div class="col-lg-10">
                {{ form.image }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-10">
                <button type="submit" class="btn btn-primary">Add Recipe</button>
            </div>
        </div>
    </form>
    {% if messages %}
    <div class="mt-2">
        {% for message in messages %}
        <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}
