{% extends "base.html" %}
{% load static %}

{% block title %}
<title>Welcome To GoodMeal!</title>
{% endblock title %}

{% block content %}
<style>
    /* Background styling */
    .home-page-background {
        background-image: url("{% static 'images/food3.jpg' %}");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        text-align: center;
    }

    /* Increase font sizes for the welcome text */
    .welcome-content p.h4 {
        font-size: 2.5rem;
    }

    .welcome-content p.h6 {
        font-size: 2.5rem;
    }

    /* Button styling remains the same */
</style>

<div class="home-page-background">
    <div class="row mt-2">
        <div class="col-md-8 offset-md-2 welcome-content">
            <p class="h4 text-primary">Welcome to GoodMeal, Get, Share The Best Recipes</p>
            <p class="h6 mt-3">Discover flavors from around the world, one recipe at a time!</p>
            <p class="h6">Your kitchen is the canvas; let's create a masterpiece!</p>
            <a href="{% url 'recipe_list' %}">
                <button type="button" class="btn btn-primary btn-lg mt-3 shadow">Let's Get Started</button>
            </a>
        </div>
    </div>
</div>
{% endblock content %}
