{% extends 'base.html' %}

{% block title %}
<title>Recipe List Manager - Good-Meal</title>
{% endblock title %}

{% block content %}
<div class="container">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}

    <br>
    <form method="POST">
        {% csrf_token %}
        <div class="row">
            <label class="col-lg-2 col-form-label">Recipe Name</label>
            <div class="col-lg-10">
                {{ form.recipe }}
            </div>
        </div>
        <br>
        <div class="row">
            <label class="col-lg-2 col-form-label">Composites</label>
            <div class="col-lg-10">
                {{ form.composites }}
            </div>
        </div>
        <br>
        <div class="row">
            <label class="col-lg-2 col-form-label">Instructions</label>
            <div class="col-lg-10">
                {{ form.instructions }}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-10">
                <button type="submit" class="btn btn-primary">Add Recipe</button>
            </div>
        </div>
    </form>
    <br>

    <table class="table table-bordered text-center">
        <thead>
            <tr class="row">
                <th class="col-3">Recipe</th>
                <th class="col-3">Composites</th>
                <th class="col-3">Instructions</th>
                <th class="col-1">Edit</th>
                <th class="col-1">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% if all_recipes %}
                {% for obj in all_recipes %}
                    <tr class="row">
                        <td class="col-3">{{ obj.recipe }}</td>
                        <td class="col-3">{{ obj.composites }}</td>
                        <td class="col-3">{{ obj.instructions }}</td>
                        <td class="col-1"><a href="{% url 'edit_recipe' obj.id %}"><button type="button" class="btn btn-warning">Edit</button></a></td>
                        <td class="col-1"><a href="{% url 'delete_recipe' obj.id %}"><button type="button" class="btn btn-danger">Delete</button></a></td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr><td colspan="5">No recipes found.</td></tr>
            {% endif %}
        </tbody>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            <li class="page-item"><a class="page-link" href="?pg=1"><<</a></li>
            {% if all_recipes.has_previous %}
                <li class="page-item"><a class="page-link" href="?pg={{ all_recipes.previous_page_number }}">{{ all_recipes.previous_page_number }}</a></li>
            {% endif %}
            <li class="page-item"><a class="page-link" href="?pg={{ all_recipes.number }}">{{ all_recipes.number }}</a></li>
            {% if all_recipes.has_next %}
                <li class="page-item"><a class="page-link" href="?pg={{ all_recipes.next_page_number }}">{{ all_recipes.next_page_number }}</a></li>
            {% endif %}
            <li class="page-item"><a class="page-link" href="?pg={{ all_recipes.paginator.num_pages }}">>></a></li>
        </ul>
    </nav>
</div>
{% endblock content %}
